<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">

        <input type="checkbox" v-model="ipt">
        {{ipt}}
        <div 
            :style="'width:100px;height:100px;background-color:red;'" 
            v-show="ipt"
        >
        </div>

        <select name="" id="" v-model="selected">
            <option value="" selected>请选择</option>
            <option>北京</option>
            <option>上海</option>
            <option>广州</option>
        </select>
        <div>{{selected}}</div>

    </div>


    <script src="./vue.js"></script>
    <script>


        const vm=new Vue({

            el:"#app",
            data:{
                ipt:"",
                selected:"",
            },



        })
    </script>
</body>
</html>