*{
    margin:0;
    padding:0;
    list-style: none;
    text-decoration: none;
    /* box-sizing: border-box; */
    outline: none;
    border:none;
}

h3{
    width:100%;
}
img{
    max-width: 100%;
    height:auto;
    display:inline-block;
}









.banner{
    width:100%;
}

/* section */

section{
    width:100%;
    overflow:hidden;
}

.game_promotion{
    width:100%;
    margin:20px 0;
}
.game_promotion h3{
    width:90%;
    margin:0 auto;
    margin-bottom:20px;
}
.game_promotion h3 img{
    display:block;
    margin:0 auto;
    margin-bottom:20px;
}

.game_market{
    width:100%;
    margin:20px 0;
}
.game_market h3{
    width:100%;
    margin-bottom:20px;
}
.game_market >img{
    width:90%;
    display:block;
    margin:0 auto;
    margin-bottom:20px;
}

.technology{
    width:90%;
    margin:0 auto;
}
.technology h3{
    width:100%;
    margin-bottom:20px;
}
.technology ul{
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:20px;
}
.technology ul li{
    width:46%;
}


.advantage{
    width:100%;
    overflow:hidden;
    margin-bottom:20px;
}
.advantage h3{
    width:90%;
    margin-bottom:20px;
    margin:20px auto;
}










/* main */

main{
    width:100%;
    overflow:hidden;
}


.needs{
    width:100%;
}
.needs h3{
    width:90%;
    margin:0 auto;
}
.needs ul{
    width:90%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin:0 auto;
    margin-top:20px;
}
.needs ul li{
    width:30%;
}

.train{
    width:100%;
    margin-top:20px;
}
.train li{
    width:92%;
    margin:0 auto;
    margin-bottom:20px;
}


.hot_game{
    width:100%;
    overflow:hidden;
}
.hot_game h3{
    width:90%;
    margin:0 auto;
    margin-bottom:20px;
}
.hot_game h3 img{
    display:block;
    margin:0 auto;
}
.hot_game ul{
    width:92%;
    margin:0 auto;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.hot_game ul li{
    width:30%;
    margin-bottom:10px;
}
.hot_game ul li img{
    width:100%;
    height:100%;
}

.about_game{
    width:100%;
    overflow:hidden;
    margin-top:20px;
}
.about_game h3{
    width:90%;
    margin: 0 auto;
    margin-bottom:20px;
}
.about_game img{
    width:90%;
    display:block;
    margin:0 auto;
    background:url(./img/about_game_title.jpg) no-repeat center;
    background-size:100% 100%;
}
.about_game p{
    width:92%;
    color:#fff;
    text-indent:2em;
    margin:0 auto;
    margin-top:20px;
}




/* 提交表单 */
.getInfo{
    width:100%;
    background-color:#371a61;
    overflow:hidden;
    color:#fcf8f7;
    padding:0 20px;
    margin-top:40px;
    box-sizing: border-box;
}
.getInfo h3{
    width:100%;
    font-size:24px;
    line-height:48px;
    text-align:center;
    margin-bottom:20px;
}

.getInfo p{
    overflow:hidden;
    margin-bottom:20px;
    font-size:12px ;
    line-height:20px;
    color:#999;
}

.getInfo label{
    font-size:20px;
    display: inline-block;
    margin-bottom:10px;
    color:#fff;
}
.getInfo label span{
    color:#fe4543;
}
.getInfo .iptval{
    width:100%;
    height:30px;
    background-color:#fff;
    border-radius:3px;
    font-size:14px;
    text-indent:20px;
    color:#000;
}
.getInfo .checkbox{
   float:left;
   width:20px;
   height:20px;
   margin-right:10px;
}
.getInfo .submit{
   display:inline-block;
   width:100%;
   height:40px;
   background-color:#aa30a9;
   margin-bottom:20px;
   font-size:20px;
   color:#f9f7f8;
   line-height:28px;
}





.contact_us{
    width:60px;
    height:60px;
    background:url(./img/contact.png);
    background-size:100% 100%;
    border-radius: 50%;
    position:fixed;
    bottom:20px;
    right:10px;
    z-index: 100;
}




footer{
    width:100%;
    overflow:hidden;
    text-align:center;
    padding:20px 0;
}
footer div{
    color:#fff;
    font-size:14px;
    line-height:24px;
}

